<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>University of Denver</title>
  <meta name="description" content="University of Denver empowers learning that drives momentum. Explore programs, purposeful careers, and experiences beyond the classroom." />
  <link rel="canonical" href="https://updates.du.edu" />
  <link rel="stylesheet" href="/main.css">
  <link rel="icon" href="/favicon.ico" sizes="16x16">
  <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png”>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png”>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
  <div class="page-wrap">
    <script type="text/javascript" src="https://cdn.du.edu/js/brand-toolkit/header.js" id="du-header-embed" data-color="white"></script>
    <main id="content" role="main" class="container">
        {{ content }} 
    </main>
    <!-- INSTAGRAM EMBED from www.du.edu -->
    <div id="flockler-embed-19b957cb7c602d6b5688d57129984c8e"></div>
    <script src="https://plugins.flockler.com/embed/199549536ad032ec6265355bdabb45e4/19b957cb7c602d6b5688d57129984c8e" async></script>
    <div style="text-align:center;margin-top:20px;">
      <a class="btn" href="https://www.instagram.com/uofdenver" target="_blank">Follow @uofdenver</a>
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.du.edu/js/brand-toolkit/footer.js" id="du-footer-embed" data-color="black"></script>
</body>
</html>
